//- Include used template for this page
extends ../../templates/default/default

//- Variables for include this in used template
block variables
    - let title       = 'Webpack template'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'write_here_page_id'